<div class="modal fade" bsModal #modal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Edit Item : {{item?.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="item">
        <div class="form-group ">
          <label>Name</label>
          <input type="text" class="form-control" [(ngModel)]="item.name">
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" *ngIf="modifierGroups">
              <label>Modifier groups:</label>
              <div class="input-group">
                <select [(ngModel)]="selectedMg" name="selectedMg" class="form-control">
                  <option *ngFor="let mg of modifierGroups" [ngValue]="mg">{{mg.name}}</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" (click)="addItemModifierGroup()">Add</button>
                </span>
              </div>
            </div>
            <div class="padder">
              <ul class="list">
                <li *ngFor="let mg of itemModifierGroups">
                  {{mg.name}} <i class="fa fa-times" aria-hidden="true" (click)="remove(mg)"></i>
                </li>
              </ul>


            </div>
          </div>
        </div>
        <button class="btn btn-default btn-save form-control" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
